.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
.button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: darksalmon;
    -fx-border-color: black;
}

#reversiBoard {
    -fx-background-color: green;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-stroke-line-cap: square;
    -fx-vertical-grid-lines-visible: true;
    -fx-horizontal-grid-lines-visible: true;
    -fx-grid-lines-visible: true;
    -fx-alignment: center;
    visibility: visible;
}

#info {
    -fx-max-width: 100px;
    -fx-spacing: 10px;
    -fx-alignment: center;
}

#playingPlayer {
    -fx-text-fill: maroon;
}