/*.root {*/
    /*-fx-background-image: url("background.jpg")*/
/*}*/

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
.button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: darksalmon;
    -fx-border-color: black;
    /*-fx-background-color: linear-gradient(#61a2b1, #2A5058);*/
}

#playingPlayer {
    -fx-text-fill: aqua;
}

#welcomeText {
    -fx-font-size: 32px;
    -fx-font-family: Arial;
    -fx-fill: rgb(85,87,83);
}